# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# other
_archiv/
*_solutions*
assignment_2.nb.html
clarifications_task_1.3.Rmd
